
body {
    background-image: ="/static/my_app/paper.jpg";
    padding-left: 0px;
    background-position: -30px; 

}
h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
h3 a {
    color: black;
    font-family: 'Lobster';
}
.page-header {
    background-color: #E9967A;
    margin-top: 0;
    padding: 5px 5px 5px 5px;

}
.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 0pt;
    text-decoration: none;
}

.page-header a {
    text-decoration: none;   
}

.page-header div {
    display: inline-block;
    padding: 10px;
}

.page-header img {
    width: 100px;
}


.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-left: 100px
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}


td {
    
    border: 1px;
    padding: 5px;
    margin:auto;
    text-align:center;
    
}

.pic_display {
    margin-left: 100px;
  

}

.pic_display div {

    display: inline-block;
    padding: 10px;
    
}


.pic_display img {
    width: 200px;
    opacity: 0.4;
}

.pic_display img:hover {
    opacity: 1.0;
}

.pic_display a {
    color: #D2691E;
    text-decoration: none;
}

.photo img {
    width: 700px;
    margin-left: 100px;
}

.photo_icon img {
    width: 100px;
    margin-left: 10px;
    margin-top: 0px;
    opacity: 0.5;
}
.photo_icon:hover {

}

tr img {
    opacity: 0.4;
}

tr img:hover {
    opacity: 1.0;
}

li {
    display: inline;   
}

.home {
    margin: auto;
    text-align: center;
    color: #778899;
}

.home a {
    text-decoration: none;
 }

 .home a:hover {
    color: black;
}