{% extends "blog/base.html" %}
{% block content %}

{% for place in places %}
{% if place.title == 'Plaza de santa maria' %}
    <div class="post">
        <h1>{{ place.title }}</h1>
        <div class="photo">
            <img src="/static/my_app/maria_draw.jpg" alt="Plaza de santa maria"/>
        <hr>
        {% for comment in post.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}    
    </div>
{% endif %}
{% endfor %}




{% endblock content %} 