{% extends "blog/base.html" %}
{% block content %}
    <table class="tble">
        <thead></thead>
        <tbody>
            <div class="pic_display">
                <div><a href="{% url "florida" %}">
                {% for place in places %}
                {% if place.title == 'Florida' %}
                <img src="/static/my_app/florida_draw.jpg" alt="My image"/><h3>{{ place.title }}</h3></a></div>
                {% endif %}
                {% endfor %}

              


                
                <div><a href="{% url "santa_maria" %}">
                {% for place in places %}
                {% if place.title == 'Plaza de santa maria' %}
                <img src="/static/my_app/maria_draw.jpg" alt="Plaza de santa maria"/><h3>{{ place.title }}</h3></a></div>
                {% endif %}
                {% endfor %}

            
            

                <div><a href="{% url "cuesta" %}">
                {% for place in places %}
                {% if place.title == 'Cuesta' %}
                <img src="/static/my_app/cuesta_draw.jpg" alt="La Cuesta"/><h3>{{ place.title }}</h3></a></div>
                {% endif %}
                {% endfor %}

                
            </div>      

            
              
               
        </tbody>    
{% endblock content %} 



            <!--</div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
                <h3><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h3>
                <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}-->





            <!--<tr>
                <td><a href="{% url "florida" %}"><img src="http://www.euskoguide.com/images/vitoria/parque-florida-park.jpg"/></td>
                <td><a href="{% url "florida" %}"><h2>El Parque de Florida</h2></td></a>
            </tr>
            <tr>
                <td><a href="{% url "santa_maria" %}"><img src="http://www.pueblos-espana.org/fotos_originales/4/4/7/00092447.jpg"/></td>
                <td><a href="{% url "santa_maria" %}"><h2>La plaza de Santa María</h2></td></a>
            <tr>
                <td><a href="{% url "cuesta" %}"><img src="http://m1.paperblog.com/i/151/1510316/callejeando-vitoria-gasteiz-ii-capital-verde--L-RBD_Dc.jpeg"/></td>
                <td><a href="{% url "cuesta" %}"><h2>La cuesta</td></a>                
               
            </tr>-->



<!--{% for place in places %}
    <div>
        <h1><a href="{url "vitoria_detail" pk=post.pk %}">{{ place.title }}</h1>
        <p>{{ place.photo }}</p></a>
    </div>
{% endfor %} -->